<h1> Olá, bem vindo!</h1>

<%= @titulo  %>



<div class="jumbotron">

  <h1>Projeto1</h1>
  <p>
    <%= link_to 'Criar Playlist', 'https://api.spotify.com/v1/users/{user_id}/playlists', class: 'btn btn-primary btn-lg' %>
  </p>

</div>  



