<h1> Olá, bem vindo!</h1>


<%= @empresa  %>

<div class="jumbotron">
  <h1>Projeto1</h1>
  <p>
    <%= link_to 'Crie a sua Playlist', 'localhost:8888', class: 'btn btn-primary btn-lg' %>
  </p>

  <p>
  <%= link_to 'Pesquise por música', '#', class: 'btn btn-primary btn-lg' %>
  </p>
</div>  

#comandos do git:
#git add -a
#git commit -m 
#gitpush (nome do repository)

#>rails generate scaffold Contact name:string phone:string