<nav class="navbar navbar-inverse navbar-static-top">
<footer>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', sobre_path%>
      </li>
      <li>
        <%= link_to 'Contato' %>
      </li>
    </ul>
  </nav>
</footer>
</nav>